.portfolio {
    color: #888;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 50px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 70px;

    .portfolio__title {
        font-size: 24px;
        font-weight: 600;
        color: #000;
        margin: 0;

        &::after {
            content: "";
            background: #ff5959;
            border-radius: 25px;
            display: block;
            height: 5px;
            margin-top: 14px;
            width: 30px;
        }
    }

    .portfolio__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .portfolio__nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 0;
            margin-bottom: 20px;
            list-style-type: none;

            .portfolio__nav-item {
                font-size: 14px;
                font-weight: 600;
                color: #888;
                cursor: pointer;
            }

            .current {
                background: #ff5959;
                color: #fff;
                padding: 6px 14px;
                border-radius: 30px;
            }
        }

        .portfolio__gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;

            .portfolio__gallery-item {
                flex: 0 0 30%;
                max-width: 33.333333%;
                padding: 0 10px;
                margin-bottom: 20px;
                height: 152px;
                

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                        box-shadow: 0 8px 15px 0 rgba(0,0,0,.2);
                    }
                }
            }
        }

        .portfolio__btn {
            color: #fff;
            background: #ff5959;
            border: none;
            border-radius: 100px;
            font-family: "Poppins",sans-serif;
            font-size: 14px;
            font-weight: 400;
            overflow: hidden;
            padding: 8.5px 20px;
            position: relative;
            transform: translateY(0);
            transition: all .3s ease-in-out;

            &:hover {
                background: #4a63e7;
                transform: translateY(-5px);
                cursor: pointer;
                box-shadow: 0 8px 15px 0 rgba(0,0,0,.2);
            }
        }
    }

    @media screen and (max-width: 400px) {
        padding: 50px 10%;

        .portfolio__container {
            .portfolio__gallery {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .portfolio__gallery-item {
                    flex: 0 0 50%;
                    max-width: 43%;
                    padding: 0 5px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}